$unityWatersTheme: (
    primary: #0099CC,
    secondary: #666666,
    secondary-1: #62A4D3,
    secondary-2: #E32119,
    secondary-3: #FFD300,
    secondary-4: #890D6A,
    secondary-5: #00A5A7,
    secondary-6: #007BA5,
    secondary-7: #55378A,
    secondary-8: #83B81A,
    interactive-1: #75BAFF,
    interactive-2: #1863FF,
    interactive-3: #2468F5,
    interactive-4: #0A4EDB,
    interactive-5:#087EA6,
    text: #000000,
    background: #ffffff,
    background-accent: #F7F7F7,
    white: #ffffff,
    gray-50: #F7F7F7,
    gray-75: #F4F4F4,
    gray-100: #EEEEEE,
    gray-200: #DEDEDE,
    gray-250:#D9D9D9,
    gray-300: #C7C7C7,
    gray-400: #8C8C8C,
    gray-500: #767676,
    gray-600: #444444,
    gray-700: #303030,
    gray-800: #222222,
    gray-900: #111111,
    black: #000000,
    success-100: #EAFAEF,
    success-500: #24A148,
    success-700: #018940,
    error-100: #FFEDED,
    error-500: #E10004,
    error-700: #AD0003,
    warning-100: #FFF5DF,
    warning-500: #FDA108,
    warning-600: #CCDC00,
    info-100: #F0F5FE,
    info-500: #3C78F6,
    shadow-1: #{ 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12)},
    shadow-2: #{0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.12)},
    shadow-3: #{0px 1px 4px rgba(0, 0, 0, 0.08), 0px 6px 16px rgba(0, 0, 0, 0.12)},
    shadow-4: #{0px 4px 12px rgba(0, 0, 0, 0.08), 0px 24px 64px rgba(0, 0, 0, 0.12)},
    gradient: linear-gradient(360deg, #0099CC 0%, #2E74D9 100%),
    gradient-1:rgba(0, 153, 204, 0.1),
    gradient-2:rgba(211, 0, 122, 0.1),
    gradient-3: #1482d9,
    information-100: #F0F5FE,
    information-500: #3C78F6,
    ) !default;

$fontFamilyMaping: (
    aktivGrotesk : "AktivGrotesk",
    helveticaNeue : "HelveticaNeue",
    ) !default;

$checkedBoxColor : #0099CC;
$indeterminateChecked : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e"
);