//Bootstrap
@import "../../site/vendors/bootstrap/functions";
@import "../../site/vendors/bootstrap/variables";
@import "../../site/vendors/bootstrap/mixins";
@import "../../site/vendors/bootstrap/utilities";

// Theme
@import "../../core/config";

.news-listing-comp{
    &__filter{
        .filter-header{
            color: var(--primary);
            font-weight: 700;
            padding-bottom:1rem;
            border-bottom: 0.063rem solid rgba(140, 140, 140, 0.3);
            
            &__icon{
                font-size: 1.8rem;
                color: var(--primary);
                cursor: pointer;
            }
        }
        .clearFilters {
            margin-right: 0.6rem;
            align-items: center;
            padding: 0.25rem 1rem;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            background: transparent;
            color: var(--gray-500);
            width: 100px;
            border-radius: 0.125rem;
            border: 0.063rem solid var(--gray-500);
            border-color: var(--gray-500);
            margin-top: 0;
            margin-left: 0;
            display: inline;
            float: right;
        }
        .courselist-header {
            &__icon{
                font-size: 1.5rem;
                color: var(--black);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                cursor: pointer;
                right: 0.1rem;  
            }
        }
    }
    .floating-container {
        position: sticky;
        top: 20px;
        left: 20px;
        background-color: var(--gray-50);
        z-index: 10;
        overflow-y: auto;
        @include media-breakpoint-down(lg) {
            z-index: 1;
        }
    }
    .facets {
        &-container {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
            &__body {
                .form-check {
                    position: relative;
                    margin-bottom: 0.5rem;
                    input {
                        cursor: pointer;
                        box-shadow: none;
                        position: absolute;
                        top: 0.25rem;
                        left: 0;
                        margin: 0;
                        border-radius: 2px;
                        &.selectedPartial {
                            background-color: $checkedBoxColor;
                            border-color: $checkedBoxColor;
                            background-image: $indeterminateChecked;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                    label {
                        cursor: pointer;
                    }
                }
                .checkbox-child-container {
                    display: none;
                }
                .checkbox-parent-container.selected {
                    .checkbox-child-container {
                        display: block;
                    }
                }
                @include media-breakpoint-up(md) {
                    max-height: 250px;
                    overflow-y: auto;
                }
                .clearDate{
                    cursor: pointer;
                    color: var(--primary);
                }
            }
        }
    }
    &__card {
        box-shadow: var(--shadow-2);
        transition-duration: 0.3s;
        &:hover{
            transform: translateY(-0.375rem);
            box-shadow: var(--shadow-3);
            background: var(--gray-50);
        }
        .published-date {
            font-size: 0.75rem;
            line-height: 1rem;
            font-weight: 500;
            color: var(--gray-500);
        }
        .card {
            &-img {
                @include media-breakpoint-up(lg) {
                    height: 11.125rem;
                }
                img {
                    @include media-breakpoint-up(lg) {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            &-title {
                font-weight: 700;
                font-size: 1.375rem;
            }
            &-text {
                font-size: 0.875rem;
                margin-bottom: 0.938rem;
                line-height: 140%;
            }
            &-body{
                flex: 1;
                .cmp-icon{
                    font-size: 1.5rem;
                    color: var(--primary);
                }
            }
        }
    }
    .calendar-icon{
        color: var(--primary);
    }
    .calendar-text{
    &:focus{
        box-shadow: none;
    }    
    &::placeholder{
        color: var(--text);
        font-weight: 500;
    }
}
    .select2 {
            &-container {
                width: 100% !important;
                &--open {
                    .select2-selection {
                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 15L12 9L18 15' stroke='%23111111' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
                        }
                    }
                }
            }
            &-selection {
                border-color: transparent;
                padding: 0.485rem 0.75rem;
                height: auto;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0rem;
                    transform: translateY(-50%);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23111111' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 20px;
                    height: 20px;
                }
                &__arrow {
                    display: none;
                }
                &__rendered{
                    font-weight: 700;
                }
            }
    }
    @include media-breakpoint-down(lg) {
        .sort-by{
            order: 2;
            justify-content: start !important;
            margin-top: 1.5rem;
            .select2{
            &-selection{
                padding-left: 1rem;
                &__rendered{
                    padding-left: 0 !important;
                }
            }
        }
        }
        .filter-type{
            order: 1;
        }
        .news-card{
            order: 3;
            padding: 0;
        }
    }

    .sort-by{
        margin-bottom: 0.25rem;
    .sort-by__label{
        color: var(--primary);
        font-weight: 700;
    }
}
}

.newsListings {
    .news-listing-comp {
        &__filter {
            .filter-header {
                &__text {
                    display: inline;
                    background: var(--gradient);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 700;
                    font-size: 22px;
                    letter-spacing: -0.22px;
                }
                &__icon {
                    display: inline;
                    float: right;
                }
            }

        } 
    }
}

.select2{
    &-dropdown{
        border: 1px solid var(--gray-300) !important
    }
    &-results{
        &__options{
            padding: 0.625rem !important;
        }
    }
}
.futuretech-theme {
    .facets-container__body{
        .clearDate{
            color: var(--greenishyellow);
        }
    }
    .form-check {
        input {
            &.selectedPartial {
                background-color: var(--greenishyellow);
                border-color: var(--greenishyellow);
            }
            &:checked {
                background-color: var(--greenishyellow);
                border-color: var(--greenishyellow);
            }
            &:focus {
                border-color: var(--greenishyellow)
            }
        }
    }
    .calendar-icon {
        color: var(--greenishyellow);
    }
    .news-listing-comp {
        &__filter {
            .filter-header{
                color: var(--greenishyellow);
                &__icon{
                    color: var(--black);
                }
            }
        }
        &__card {
            .card {
                &-body {
                    .cmp-icon {
                        color: var(--greenishyellow);
                    }
                }
            }
        }
    }
}