// Bootstrap
@import "../../site/vendors/bootstrap/functions";
@import "../../site/vendors/bootstrap/variables";
@import "../../site/vendors/bootstrap/mixins";
@import "../../site/vendors/bootstrap/utilities";

// Theme
@import "../../core/config";

.cmp-embed {
    position: relative;
    width: 100%;
    --bs-aspect-ratio: 56.25%;
    &:before {
        display: block;
        padding-top: var(--bs-aspect-ratio);
        content: "";
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .embed__overlay {
        background: rgba(0,0,0,0.2);
        .playVideoBtn {
            background: transparent;
            .icon-Youtube-playBtn {
                position: relative;
                &:after,
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: "";
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                &:after {
                    background: var(--primary);
                    border-radius: 30%;
                    @include media-breakpoint-down(md) {
                        height: 72px;
                        width: 72px;
                    }
                    @include media-breakpoint-between(md, lg) {
                        height: 60px;
                        width: 70px;
                    }
                    @include media-breakpoint-up(lg) {
                        height: 72px;
                        width: 72px;
                    }
                    @include media-breakpoint-up(xl) {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                    }
                }
                &:before {
                    height: 24px;
                    z-index: 9;
                    width: 16px;
                    border-top: 11px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-left: 18px solid var(--white);
                    border-radius: 5px;
                    background: var(--primary);
                }
            }
        }
    }
}
.futuretech-theme {
    .cmp-embed {
        .embed__overlay {
            .playVideoBtn {
                .icon-Youtube-playBtn {
                    font-size: 5rem;
                    color: var(--greenishyellow);
                    @include media-breakpoint-up(lg) {
                        color: var(--greenishyellow);
                    }
                    &:after {
                        background: var(--greenishyellow);
                    }
                    &:before {
                        background: var(--greenishyellow);
                    }
                }
            }
        }
    }
}
